# Gradle
.gradle/
build/
!gradle-wrapper.jar

# Grails build and target folders
target/
out/
plugins/
web-app/plugins/
web-app/WEB-INF/classes/

# Grails databases & logs
*.iws
*Db.properties
*Db.script
*.log
/stacktrace.log
/test/reports/
/logs/

# IDE files
.settings/
.classpath
.project
.idea/
*.iml

# OS and Miscellaneous
.DS_Store
Thumbs.db

# Varibles
.env